/* Main Elements */
#editor {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    border: 1px solid red;
}

#editor-top {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

#editor-main {
    flex: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
}

    
/* Editor Top */
#app-searchbar {
    width: 300px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}


/* Editor Main */
.app-slider {
    position: relative;
    z-index: 2;
}

.popup-span {
    position: relative;
    z-index: 2;
    width: 300px;
}


/* Popups */
.popup {
    display: flex;
    flex-direction: column;
}