/* Main Elements */
#editor {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    border: 1px solid red;
}

#editor-top {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

#editor-main {
    flex: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
}

    
/* Editor Top */
#app-searchbar {
    width: 300px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}


/* Editor Main */
.app-slider {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    height: 100%;
    width: 200px;

    background: rgba(255, 255, 255, 0.9);
}

.popup-span {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    width: 80px;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    justify-content: flex-start;
    align-items: center;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.menu-active {
    background: gray;
}

.menu-tools {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}

/* Popups */
.popup {
    display: flex;
    flex-direction: column;
}